<?xml version="1.0"?>
<ruleset name="Args">
	<config name="testVersion" value="7.4-"/>
	<arg name="extensions" value="php"/>
	<arg value="s"/>

	<exclude-pattern>/tests/stubs.php</exclude-pattern>
	<exclude-pattern>/vendor/*</exclude-pattern>

	<rule ref="HM">
		<exclude name="Generic.Commenting"/>
		<exclude name="HM.Files"/>
		<exclude name="HM.Layout.Order"/>
		<exclude name="HM.Namespaces.NoLeadingSlashOnUse.LeadingSlash"/>
		<exclude name="HM.Performance.SlowMetaQuery"/>
		<exclude name="HM.Security.EscapeOutput"/>
		<exclude name="PEAR.NamingConventions"/>
		<exclude name="PSR2R.Namespaces.UnusedUseStatement"/>
		<exclude name="Squiz.Commenting"/>
		<exclude name="WordPress.Files"/>
		<exclude name="WordPress.NamingConventions"/>
	</rule>
</ruleset>
