includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
  level: 8
  checkMissingCallableSignature: true
  paths:
    - src
    - tests
    - generate.php
  bootstrapFiles:
    - tests/stubs.php
  ignoreErrors:
    -
      message: '#^Access to an undefined property Args\\#'
      path: tests/phpunit
    - '#Variable property access on static\(Args\\Shared\\#'
    - '#Variable property access on \$this\(Args\\Shared\\#'
    - '#Variable property access on static\(Args\\DateQuery\\#'
    - '#Variable property access on static\(Args\\MetaQuery\\#'
    - '#Variable property access on static\(Args\\TaxQuery\\#'
