includes:
  - vendor/phpstan/phpstan/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
  level: 8
  paths:
    - src
    - tests
  scanDirectories:
    - src
    - tests
  bootstrapFiles:
    - tests/stubs.php
  ignoreErrors:
    - '#Access to an undefined property Args#'
